# Generate tile files that can be used with https://www.marzipano.net
# This is a config file for https://krpano.com/tools/kmakemultires/config/ - 

flash=false
html=false
xml=false

panotype=autodetect

tilesize=512
levelsizes= 2048, 1024, 512


converttocube=true
indexbase=0
tilepath=%INPUTPATH%/../tiles/%BASENAME%/%l/[c]/%v/%h.jpg


# https://krpano.com/tools/kmakemultires/config/
# for Marzipano, set cubeMapPreviewFaceOrder to  'lfrbud' 
cspreview=true
previewpath=%INPUTPATH%/../tiles/%BASENAME%/preview.jpg
